<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=192.168.1.30\misor_intranet;Initial Catalog=PGSO;Integrated Security=False;User ID=PGSO;Password=@pgso1234;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>