.
IE8Fix
{
z-index: 100;
}

body {
}

.bdpDate
{
    width:102px; font-family:Arial; font-size:11px; height:16px; border-style: solid; border-color: #8b0ef7; border-width:1px; padding: 2px 2px 2px 2px;
}

.bdpDateLongDate
{
    width:180px; font-family:Arial; font-size:11px; height:16px; border-style: solid; border-color: #4776A4; border-width:1px; padding: 2px 2px 2px 2px;
}

.bdpDate16
{
    width:175px; font-family:Arial; text-align :center ;font-weight:bold ;font-size:16px; height:20px; border-style: solid; border-color: #4776A4; border-width:1px; padding: 2px 2px 2px 2px;
}

.bdpDateGrid
{
    width:65px; font-family:Arial; font-size:11px; height:16px; border-style: solid; border-color: #4776A4; border-width:1px;
}

.AjaxMenuHeader
{
    font-weight:bold; font-family:Arial; vertical-align:middle; font-size:11px; background-color: #FFFFFF; color: #FFFFFF; background-image:(~/images/menuBg.jpg); height:22px; padding: 10px 5px 5px 10px; cursor: hand;
}
.AjaxMenuContent
{
	border-style: solid; border-color: #000000; border-width:0px; padding: 0px 0px 0px 0px; background-color: white; vertical-align:  middle;
}

.webMenuNavigation
{
	width:100%;display:block;font-family:Arial;font-size:11px;padding: 0px 0px 0px 0px;
	border-bottom-color:#FFFFFF; border-bottom-width:1px;
	border-left-color:#4776A4; border-left-width:1px;
	border-top-color:#4776A4; border-top-width:1px;
	border-right-color:#4776A4; border-right-width:1px;
}
.webMenuNavigationS
{
	width:100%;display:block;font-family:Arial;font-size:11px;padding: 0px 0px 0px 0px;
	border-bottom-color:#FFFFFF; border-bottom-width:1px;
	border-left-color:#B7C9CC; border-left-width:1px;
	border-top-color:#B7C9CC; border-top-width:1px;
	border-right-color:#B7C9CC; border-right-width:1px;
}
.webMenuNavigationH
{
	width:100%;display:block;font-family:Arial;font-size:11px;padding: 0px 0px 0px 0px;
	border-bottom-color:#FFFFFF; border-bottom-width:1px;
	border-left-color:#B7C9CC; border-left-width:1px;
	border-top-color:#B7C9CC; border-top-width:1px;
	border-right-color:#B7C9CC; border-right-width:0px;
}
.webMenuNavigationSub
{
	width:100%;display:block;font-family:Arial;font-size:11px;padding: 0px 0px 0px 0px;
	border-bottom-color:#FFFFFF; border-bottom-width:1px;
	border-left-color:#4776A4; border-left-width:1px;
	border-top-color:#4776A4; border-top-width:1px;
	border-right-color:#4776A4; border-right-width:1px;
}
.webMenuNavigationSubS
{
	width:100%;display:block;font-family:Arial;font-size:11px;padding: 0px 0px 0px 0px;
	border-bottom-color:#FFFFFF; border-bottom-width:1px;
	border-left-color:#B7C9CC; border-left-width:1px;
	border-top-color:#B7C9CC; border-top-width:1px;
	border-right-color:#B7C9CC; border-right-width:1px;
}
.webMenuNavigationSubH
{
	width:100%;display:block;font-family:Arial;font-size:11px;padding: 0px 0px 0px 0px;
	border-bottom-color:#FFFFFF; border-bottom-width:1px;
	border-left-color:#B7C9CC; border-left-width:1px;
	border-top-color:#B7C9CC; border-top-width:1px;
	border-right-color:#B7C9CC; border-right-width:1px;
}

.modalBackground 
        {
            background-color:Gray;
            filter:alpha(opacity=80);
            opacity:0.8;
            
        }
        
 
.btnfinalize {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
}.btnfinalize:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.btnfinalize:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
